@import 'fonts';
@import 'colors';

.top-block
{
    position: relative;
    max-width: $appSize;
    margin: 0 auto;

    &::after
    {
        content: '';
        position: absolute;
        width: 602px;
        height: 800px;
        background: content-box no-repeat url('../../../assets/top-block-image.png'); 
        top: -97px;
        right: -151px;
        z-index: -1;
    }

    &__container
    {
        display: flex;
        justify-content: space-between;
    }

    &__title-block
    {
        max-width: 660px;
        margin-top: 133px;
    }

    &__title
    {
        //box-shadow: 0 4px 4px 0 rgba($color: $black, $alpha: 0.25);
        margin-bottom: 13px;
        color: $black-gray;
    }

    &__description
    {
        max-width: 566px;
        margin-bottom: 42px;
        color: $gray;
    }

    &__add-recipe
    {
        background-color: $yellow;
        color: $white;
        border-radius: 16px;
        padding: 16px 25px;
        margin-right: 24px;
        width: 278px;
    }

    &__login
    {
        border: 1px solid $yellow;
        color: $yellow;
        border-radius: 16px;
        padding: 16px 78px;
    }
}