<div class="recipe-of-day">
    <img class="recipe-of-day__image" src="../../../assets/recipe-of-day/recipe.jpg">
    <div class="recipe-of-day__block">
        <div class="recipe-of-day__info font__text_tiny">
            <img class="recipe-of-day__like" src="../../../assets/recipe-of-day/favorite_border.svg">
            <span>356</span>
            <img class="recipe-of-day__timer" src="../../../assets/recipe-of-day/timer.svg">
            <span>35 минут</span>
        </div>
        <img class="recipe-of-day__promo-image" src="../../../assets/recipe-of-day/recipe-of-day.png">
        <h3 class="recipe-of-day__title font__title_large">
            Тыквенный супчик На кокосовом молоке
        </h3>
        <p class="recipe-of-day__description font__text_normal">
            Если у вас осталась тыква, и вы не знаете что с ней сделать, то это решение для вас! 
            Ароматный, согревающий суп-пюре на кокосовом молоке. Можно даже в Пост! 
        </p>
    </div>
</div>
