FrontEnd/ClientApp/node_modules/*
FrontEnd/ClientApp/.vscode/*
.idea/*
.vs/*


Infrastructure/obj/Debug/*
Domain/obj/Debug/*
Application/obj/Debug/*
Backend/obj/Debug/*


Backend/obj/Release/*
Application/obj/Release/*
Infrastructure/obj/Release/*
Domain/obj/Release/*

Backend/bin/*
Application/bin/*
Infrastructure/bin/*
Domain/bin/*


Frontend/obj/Debug/*
Frontend/bin/*
*.dll
*.cache
FrontEnd/obj/Debug/net6.0/FrontEnd.AssemblyInfo.cs
