FrontEnd/ClientApp/node_modules/*
FrontEnd/ClientApp/.vscode/*
.idea/*
.vs/*

Infrastructure/obj/Debug/net6.0/Infrastructure.csproj.AssemblyReference.cache
Domain/obj/Debug/net6.0/Domain.csproj.CoreCompileInputs.cache
Backend/obj/Debug/net6.0/refint/Backend.dll
Backend/obj/Debug/net6.0/Backend.pdb
Backend/obj/Debug/net6.0/Backend.dll
Backend/obj/Debug/net6.0/Backend.csproj.AssemblyReference.cache
Application/obj/project.nuget.cache
Application/obj/project.assets.json
Application/obj/Application.csproj.nuget.dgspec.json


*.dll
*.cache
