FrontEnd/ClientApp/node_modules/*
FrontEnd/ClientApp/.vscode/*
.idea/*
.vs/*


Infrastructure/obj/Debug/*
Domain/obj/Debug/*
Application/obj/Debug/*
Backend/obj/Debug/*
Frontend/obj/Debug/*
Frontend/bin/*
*.dll
*.cache