@import 'fonts';
@import 'colors';

.search-recipes
{
    max-width: $appSize;
    margin: 0 auto 106px;
    text-align: center;

    &__description
    {
        margin: 16px 0 64px;
        color: $gray;
    }

    &__title
    {
        color: $dark-gray;
    }
}   