$black: #000;
$white: #fff;
$yellow: #fdb100;
$light-yellow: #ffefcc;
$black-gray: #25292d;
$dark-gray: #3a3c41;
$gray: #4a525a;
$light-gray: #9196a1;
$white-gray: #808080;
$background-light-yellow : #fbf9f4;
$background-white: #fefefb;