@import 'fonts';
@import 'colors';

.recipes {
    max-width: $appSize;
    margin: 49px auto 106px;

    &__header
    {
        display: flex;
        justify-content: space-between;
    }
}

.yellow-button
{
    background-color: $yellow;
    color: $white;
    border-radius: 16px;
    padding: 12px 25px;
    width: 278px;
}

.white-button {
    border: 1px solid $yellow;
    color: $yellow;
    border-radius: 16px;
    padding: 12px 78px;
    width: 309px;
    margin: 50px auto;
}


.tags-list
{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;

    &__tag
    {
        width: 278px;
        background-color: $white;
        border-radius: 15px;
        padding: 24px 24px 32px;
        cursor: pointer;
        transition: all 500ms ease;
        box-shadow: 0px 16px 72px 0px rgba(34, 39, 47, 0.05);        

        &:hover
        {
            transform: scale(1.05);
        }
    }

    &__title
    {
        margin: 24px 0 16px;
        color: $black-gray;
    }
}

.search-recipes
{
    max-width: $appSize;
    margin: 50px auto 106px;
    display: flex;

    &__description
    {
        margin: 16px 0 64px;
        color: $gray;
    }

    &__title
    {
        color: $dark-gray;
        display: inline-block;
        width: 220px;
        padding-top: 20px;
    }
}  

.search-recipe-form {       
    &__submit {
       background-color: $yellow;
       color: $white;
       padding: 18px 32px;
       border-radius: 16px;
       margin-left: 16px;
       top: -11px;
       max-width: 152px;
    }
 
    &__input-field {
       caret-color: pink;
    }
 
    &__tag-helper
    {
       text-align: left;
       max-width: 779px;
       color: $white-gray;
       margin-left: 10px;
    }
 
    &__tag
    {
       margin-right: 8px;
       cursor: pointer;   
    }
 
    &__input
    {
       width: 779px;
       display: inline-block;
    }
 }

 .recipe-block {
    min-width: 1200px;
    min-height: 430px;

    &__image {
        background: url("../../../assets/empty-photo.png") no-repeat;
    }
 }