<div class="create-recipe">
  <div class="create-recipe__top-block">
    <span class="create-recipe__rollback font__text_normal" routerLink=""
      >Назад</span
    >
    <div class="create-recipe__block">
      <h2 class="create-recipe__title font__title_large">
        Добавить новый рецепт
      </h2>
      <app-yellow-button
        buttonValue="Опубликовать"
        (click)="saveRecipe()"
        routingUrl="/create-recipe"
      ></app-yellow-button>
    </div>
  </div>
  <div class="create-recipe__recipe-container">
    <div>
      <input
      type="file"
      (change)="getFile($event)"
      accept=".jpg, .png, .svg, .jpeg"
      class="create-recipe__upload-photo-button"
      id="photoUploadButton"
    />
    <label class="create-recipe__upload-photo" for="photoUploadButton"></label>
    </div>
    <div class="create-recipe__input-container">
      <div class="create-recipe__recipe-name">
        <app-simple-input placeholderName="Название рецепта"
        [(ngModel)] = "recipe.name"
        ngDefaultControl
        ></app-simple-input>
      </div>
      <div class="create-recipe__recipe-description">
        <app-long-input
          placeholderName="Краткое описание рецепта(150 символов)"
          [(ngModel)] = "recipe.description"
          ngDefaultControl
        ></app-long-input>
      </div>
      <div class="create-recipe__add-tags">
        <app-simple-input 
        placeholderName="Добавить теги"
        (change)="updateTagsList($event)"
        ></app-simple-input>
      </div>
      <div class="create-recipe__droplist-container">
        <div class="create-recipe__droplist-elements">
          <div class="create-recipe__droplist-element">
            <app-droplist-input
              dropListType="cookingTime"
              class="create-recipe__cooking-time"
              placeholderName="Время готовки"
              [(ngModel)] = "recipe.timeForCook"
              ngDefaultControl
            ></app-droplist-input>
          </div>
          <span class="font__text_tiny"> Минут</span>
        </div>
        <div class="create-recipe__droplist-elements">
          <div class="create-recipe__droplist-element">
            <app-droplist-input
              class="create-recipe__serving"
              placeholderName="Порций в блюде"
              dropListType="numberOfServings"
              [(ngModel)] = "recipe.numberOfServings"
              ngDefaultControl
            ></app-droplist-input>
          </div>
          <span class="font__text_tiny"> Персон</span>
        </div>
      </div>
    </div>
  </div>
  <div class="create-recipe__container">
    <div>
      <p class="create-recipe__ingredients-header font__text_extra-large">
        Ингридиенты
      </p>
      <div 
      *ngFor="let ingredient of recipe.ingredients"
      class="create-recipe__ingredients-container"
      >
        <img 
          src="../../../assets/create-recipe/close.svg" 
          class="create-recipe__close-button"
          (click) = "deleteHeaderIngredient(ingredient)">
        <div class="create-recipe__ingredients">
          <div class="create-recipe__ingredients">
            <div class="create-recipe__ingredient-title">
              <app-simple-input
              ngDefaultControl 
               [(ngModel)] = "ingredient.title"
                placeholderName="Заголовок для ингридиентов"
                ngDefaultControl
              ></app-simple-input>
            </div>
          </div>
          <div>
            <div class="create-recipe__ingredient-description">
              <app-long-input
              ngDefaultControl
              [(ngModel)] = "ingredient.description"
                placeholderName="Список подуктов для категории"
                ngDefaultControl
              ></app-long-input>
            </div>
          </div>
        </div>
      </div>
      <div class="create-recipe__add-ingredient">
        <app-white-button 
        buttonValue="+&nbsp;&nbsp;&nbsp; Добавить заголовок" 
        (click)="addHeaderIngredient()">         
        </app-white-button>
      </div>
    </div>
    <div     
    class="create-recipe__steps-container">
      <div class="create-recipe__step"
      *ngFor="let step of recipe.steps"
      >
      <img 
      src="../../../assets/create-recipe/close.svg" 
      class="create-recipe__close-step-button"
      (click) = "deleteStep(step)">
        <p class="font__text_large create-recipe__step-title">Шаг {{step.order}}</p>
        <div class="create-recipe__step-description">
          <app-long-input
            [(ngModel)] = "step.description"
            placeholderName="Список подуктов для категории"
            ngDefaultControl
          ></app-long-input>
        </div>
      </div>
      <div class="create-recipe__add-step">
        <app-white-button 
        buttonValue="+ &nbsp;&nbsp;&nbsp;Добавить шаг"
        (click) = "addStep()"
        > </app-white-button>
      </div>
    </div>
  </div>
</div>
