<div class="tags-list">
  <div class="tags-list__tag">
    <img src="../../../assets/tags-list/simple.png" />
    <h3 class="font__title_tiny tags-list__title">Простые блюда</h3>
    <p class="font__text_normal tags-list__description">
      Время приготовления таких блюд не более 1 часа
    </p>
  </div>
  <div class="tags-list__tag">
    <img src="../../../assets/tags-list/children.png" />
    <h3 class="font__title_tiny tags-list__title">Детское</h3>
    <p class="font__text_normal tags-list__description">
      Самые полезные блюда которые можно детям любого возраста
    </p>
  </div>
  <div class="tags-list__tag">
    <img src="../../../assets/tags-list/chief.png" />
    <h3 class="font__title_tiny tags-list__title">От шеф-поваров</h3>
    <p class="font__text_normal tags-list__description">
      Требуют умения, времени и терпения, зато как в ресторане
    </p>
  </div>
  <div class="tags-list__tag">
    <img src="../../../assets/tags-list/holiday.png" />
    <h3 class="font__title_tiny tags-list__title">На праздник</h3>
    <p class="font__text_normal tags-list__description">
      Чем удивить гостей, чтобы все были сыты за праздничным столом
    </p>
  </div>
</div>
