<div class="search-recipe-form">
  <app-simple-input
    placeholderName = "Название блюда" 
  ></app-simple-input>
  <button
    mat-raised-button
    class="search-recipe-form__submit font__text_normal"
    >
    Поиск
  </button>
  <p class="search-recipe-form__tag-helper font__text_tiny">
    <span class="search-recipe-form__tag">Мясо</span>
    <span class="search-recipe-form__tag">Деликатесы</span>
    <span class="search-recipe-form__tag">Пироги</span>
    <span class="search-recipe-form__tag">Рыба</span>
  </p>  
</div>
