<div class="search-recipe-form">
  <mat-form-field appearance="outline" class="search-recipe-form__input font__text_normal">
    <mat-label>Название блюда</mat-label>
    <input autocomplete="off" class="search-recipe-form__input-field" matInput />
  </mat-form-field>
  <button
    mat-raised-button
    class="search-recipe-form__submit font__text_normal"
    >
    Поиск
  </button>
  <p class="search-recipe-form__tag-helper font__text_tiny">
    <span class="search-recipe-form__tag">Мясо</span>
    <span class="search-recipe-form__tag">Деликатесы</span>
    <span class="search-recipe-form__tag">Пироги</span>
    <span class="search-recipe-form__tag">Рыба</span>
  </p>  
</div>
