@import 'colors';
@import 'fonts';

.search-recipe-form {   

   &__submit {
      background-color: $yellow;
      color: $white;
      padding: 18px 47px;
      border-radius: 16px;
      margin-left: 16px;
      top: -5px;
   }

   &__input {
      background-color: $white;
      border-radius: 16px;
      width: 716px;
      color: $black-gray;
      cursor: pointer;    
   }

   &__input-field {
      caret-color: pink;
   }

   &__tag-helper
   {
      text-align: left;
      max-width: 884px;
      margin: 0 auto;
      color: $white-gray;
   }

   &__tag
   {
      margin-right: 8px;
      cursor: pointer;   
   }
}

::ng-deep {
   $custom-main-color: $yellow;
   $custom-label-color: $dark-gray;

   // mat-icon-stepper selected color change
   .mat-step-header .mat-step-icon-selected,
   .mat-step-header .mat-step-icon-state-done,
   .mat-step-header .mat-step-icon-state-edit {
      background-color: $custom-main-color  !important;
   }

   // input outline color
   .mat-form-field-appearance-outline .mat-form-field-outline {
      color: $custom-main-color  !important;
   }

   // mat-input focused color
   .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
      color: $custom-main-color  !important;
   }

   // mat-input error outline color
   .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick {
      color: $custom-main-color  !important;
      opacity: 0.8 !important;
   }

   // mat-input caret color
   .mat-input-element {
      caret-color: $custom-main-color  !important;
   }

   // mat-input error caret color
   .mat-form-field-invalid .mat-input-element,
   .mat-warn .mat-input-element {
      caret-color: $custom-main-color  !important;
   }

   // mat-label normal state style
   .mat-form-field-label {
      color: $custom-label-color  !important;
   }

   // mat-label focused style
   .mat-form-field.mat-focused .mat-form-field-label {
      color: $custom-main-color  !important;
   }

   // mat-label error style
   .mat-form-field.mat-form-field-invalid .mat-form-field-label {
      color: $custom-main-color  !important;
   }

   .mat-form-field-appearance-fill .mat-form-field-flex {
      border-radius: 16px !important;
      background-color: $white  !important
   }

   .mat-form-field-underline {
      display: none;
   }

   .mat-form-field-outline-start {
      border-radius: 16px 0 0 16px !important;
   }

   .mat-form-field-outline-end {
      border-radius: 0 16px 16px 0 !important;
   }

   .mat-form-field-outline-end
   {
      width: 150px;
   }
}