@import 'colors';
@import 'fonts';

.search-recipe-form {       
   &__submit {
      background-color: $yellow;
      color: $white;
      padding: 18px 47px;
      border-radius: 16px;
      margin-left: 16px;
      top: -11px;
   }

   &__input-field {
      caret-color: pink;
   }

   &__tag-helper
   {
      text-align: left;
      max-width: 884px;
      margin: 0 auto;
      color: $white-gray;
   }

   &__tag
   {
      margin-right: 8px;
      cursor: pointer;   
   }

   &__input
   {
      width: 716px;
      display: inline-block;
   }
}