@import 'fonts';

.tags-block
{
    max-width: $appSize;
    margin: 300px auto 0;

    &__description
    {
        max-width: 700px;
        margin-bottom: 40px;
        margin: 16px 0 42px;
    }
}
