@import 'fonts';
@import 'colors';

.tags-block
{
    max-width: $appSize;
    margin: 351px auto 0;

    &__title
    {
        color: $dark-gray;
    }

    &__description
    {
        max-width: 700px;
        margin-bottom: 40px;
        margin: 23px 0 50px;
        color: $gray;
    }
}
