<div class="header">
    <div class="header__navigation-container">
        <span class="header__logo font__title_tiny" routerLink="">Recipes</span>
        <div class="header__navigation-menu font__text_normal">    
            <span id="main" class="header__navigation-menu-element selected" (click)="switchToMain()"  routerLink="">Главная</span>
            <span id="recipes" class="header__navigation-menu-element" (click)="switchRecipes()"  routerLink="recipes">Рецепты</span>
            <span id="likes" class="header__navigation-menu-element"  (click)="switchLikes()">Избранное</span>
        </div>
    </div>    
    <div class="header__account-menu">
        <button class="header__account-button" mat-fab></button>
        <div class="header__account-link font__text_large">Войти</div>
    </div>      
</div>

