<div class="header">
    <div class="header__navigation-container">
        <span class="header__logo font__header_tiny">Recipes</span>
        <div class="header__navigation-menu font__text_normal">    
            <span class="header__navigation-menu-element selected">Главная</span>
            <span class="header__navigation-menu-element">Рецепты</span>
            <span class="header__navigation-menu-element">Избранное</span>
        </div>
    </div>    
    <div class="header__account-menu">
        <button class="header__account-button" mat-fab></button>
        <div class="header__account-link font__text_large">Войти</div>
    </div>      
</div>

